
@{
    ViewBag.Title = "Index";
}
<br/>
<div class="container">
    <div class="row text-center">
        <h1><strong>Desafio de Desenvolvimento</strong></h1>
    </div>
</div>

<div class="container">
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h3 class="panel-title">Páginas</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="thumbnail">
                        <span style="font-size: 150px" class="glyphicon glyphicon-headphones"></span>
                        <div class="caption">
                            <h3>Pessoa</h3>
                            <p><a href="~/Pessoa/index" class="btn btn-primary" role="button">Listar</a>  <a href="~/Pessoa/Cadastro" class="btn btn-default" role="button">Cadastrar</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="thumbnail">
                        <span style="font-size: 150px" class="glyphicon glyphicon-compressed"></span>
                        <div class="caption">
                            <h3>API ListarPessoas</h3>
                            <p><a href="~/api/ListarPessoas" class="btn btn-primary" role="button" TARGET="_blank">Exibir</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="panel panel-default text-center">
        <div class="panel-body">
            <p>
                Criei outra aplicação que consome os dados fornecidos por esta API
            </p>
            <p>
                O nome do <strong>projeto</strong> é <strong>WebServiceConsumo</strong> que está dentro desta Solution e pode ser acessado no endereço: <a HREF="http://localhost:50641/" TARGET="_blank"> http://localhost:50641/</a>
            </p>
        </div>
    </div>
    
</div>

